@model IEnumerable<Bdd.HORAS_TURNOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HRS_TRABAJO_SEM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HORA_INICIO_LABORAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HORA_TERMINO_LABORAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HORAS_TRABAJADAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPRESA.NOMBRE_EMPRESA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HRS_TRABAJO_SEM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HORA_INICIO_LABORAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HORA_TERMINO_LABORAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HORAS_TRABAJADAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPRESA.NOMBRE_EMPRESA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_TURNO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_TURNO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_TURNO })
        </td>
    </tr>
}

</table>
