@model IEnumerable<Bdd.HISTORIA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_HIST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIEMPO_HIST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO_HIST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOTAS_HIST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATTACH_HIST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESOLUTORES_TERCEROS.NOM_RESOL_TER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TKT.AFECTADO_TKT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_HIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIEMPO_HIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO_HIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOTAS_HIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATTACH_HIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESOLUTORES_TERCEROS.NOM_RESOL_TER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TKT.AFECTADO_TKT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RESOLUTOR }) |
            @Html.ActionLink("Details", "Details", new { id=item.RESOLUTOR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RESOLUTOR })
        </td>
    </tr>
}

</table>
