@model IEnumerable<WebAiep.Models.AGENTES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_EMPRESA_PROV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_AGENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDOP_AGENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDOM_AGENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL_AGENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AREA.EMAIL_AREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMUNAS.NOM_COMUNA)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_EMPRESA_PROV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_AGENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDOP_AGENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDOM_AGENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL_AGENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AREA.EMAIL_AREA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMUNAS.NOM_COMUNA)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_AGENTE }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_AGENTE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_AGENTE })
        </td>
    </tr>
}

</table>
