@model Bdd.RESOLUTORES_TERCEROS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RESOLUTORES_TERCEROS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM_RESOL_TER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_RESOL_TER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RSOCIAL_RESOL_TER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RSOCIAL_RESOL_TER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUT_RESOL_TER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUT_RESOL_TER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION_RESOL_TER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION_RESOL_TER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMUNAS.NOM_COMUNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMUNAS.NOM_COMUNA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_RESOL_TER }) |
    @Html.ActionLink("Back to List", "Index")
</p>
