@model Bdd.PAISES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PAISES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM_PAIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_PAIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONEDA.MONEDA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONEDA.MONEDA1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PAIS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
