@model IEnumerable<Bdd.URGENCIA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RUT_EMPRESA_PROV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_URGENCIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION_URGENCIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VALOR_URGENCIA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RUT_EMPRESA_PROV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_URGENCIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION_URGENCIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALOR_URGENCIA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_URGENCIA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_URGENCIA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_URGENCIA })
        </td>
    </tr>
}

</table>
