@model Bdd.COMUNAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>COMUNAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM_COMUNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_COMUNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTRITOS.NOM_DISTRITO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRITOS.NOM_DISTRITO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_COMUNA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
