@model Bdd.TELS_RESOL_TER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TELS_RESOL_TER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEL_RESOL_TER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEL_RESOL_TER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESOLUTORES_TERCEROS.NOM_RESOL_TER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESOLUTORES_TERCEROS.NOM_RESOL_TER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_TEL_RESTER }) |
    @Html.ActionLink("Back to List", "Index")
</p>
