@model Bdd.ROL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ROL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RUT_EMPRESA_PROV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUT_EMPRESA_PROV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION_ROL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION_ROL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOGIN.PASS_HASH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOGIN.PASS_HASH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ROL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
