@model Bdd.METADATA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>METADATA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VALOR_META)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALOR_META)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPOS_METADTA.DESC_TIPO_META)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOS_METADTA.DESC_TIPO_META)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FECHA_META }) |
    @Html.ActionLink("Back to List", "Index")
</p>
