@model IEnumerable<Bdd.METADATA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VALOR_META)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPOS_METADTA.DESC_TIPO_META)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VALOR_META)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPOS_METADTA.DESC_TIPO_META)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FECHA_META }) |
            @Html.ActionLink("Details", "Details", new { id=item.FECHA_META }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FECHA_META })
        </td>
    </tr>
}

</table>
