@model Bdd.ROL_MODULO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ROL_MODULO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ROLMODULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_ROLMODULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERMISO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERMISO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODULO.DESCRIPCION_MODULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODULO.DESCRIPCION_MODULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROL.RUT_EMPRESA_PROV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROL.RUT_EMPRESA_PROV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
