@model IEnumerable<Bdd.ROL_MODULO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_ROLMODULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERMISO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODULO.DESCRIPCION_MODULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROL.RUT_EMPRESA_PROV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_ROLMODULO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERMISO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODULO.DESCRIPCION_MODULO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROL.RUT_EMPRESA_PROV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
